@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
html{
    font-size: 100%;
}
*{
    
    box-sizing: border-box;
    
}
body{
    box-sizing: border-box;
    margin: 0px;
   border-left:4px solid #217346;
   border-right:4px solid #217346
}
.menu {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
     flex-direction: column;
     color: #333;
    font-family: Poppins;
    height: 7rem;
    background-color:rgb(248, 246, 246);
  }
  
  .menu__top {
      margin: 0px;
    background-color: #217346;
    display: flex;
  }
  
  .menu__file {
    margin-left: 1rem;
  }
  
  .menu__logo {
      margin-top: .5rem;
      margin-left: 1rem;
      height: 1.8rem;
      width: 1.5rem;
      padding-bottom: 2px;
    opacity: 1;
    text-align: center;
    font-size: 1.8rem;
    color: #217346;
    background-color: #fff;
  }
  
.menu__title input {
    border: 0;
    color: gray;
    font-size: 1rem;
    min-width: 10rem;
    padding: 5px;
    margin-top: .5rem;
  }
  
  .menu__title input:focus {
    outline: 1px solid lightgray;
  }
  
  .menu__filemenu {
    
    display: flex;
    font-size: 0.8rem;
    color: white;
  }
  
  .menu__filemenu > * {
      margin-top: .5rem;
    margin-right: 1rem;
    padding: 3px 5px;
    font-size: 1rem;
  }
  
  .menu__filemenu > *:hover {
    cursor: pointer;
    color: black;
    background-color: #eee;
  }
.main-container{
    display: flex;
   height: 8rem;
     flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-box-align: center;
     align-items: center;
    margin-top: 2px;
    padding: 1px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    
}
.main-container::-webkit-scrollbar {
    display: none;
  }

.font-size{
    min-width:3rem;
   height:80%;
   font-size: 1rem;
    font-weight: bold;
}

.font-family{
    min-width: 5rem;
    height:80%;
    font-size: 1rem;
    font-weight: bold;
}
.main-container >*{
    margin-right: 1rem;
    border-right: 1px solid lightgray;
    padding-right: 1rem;
}
.active-btn{
    background-color: #eee;
  color: #49833c;
}

.bui{
    padding-left: 1rem;
    min-width:15rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bui >*{
   min-width:3rem;
    min-height: 100%;
}
.bui > *:hover {
    cursor: pointer;
    background-color: #eee;
  }
.align{
    min-width:9rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.align >*:hover{
    cursor: pointer;
    background-color: #eee;
}

.btn--fontColor {
    display: inline-block;
    position: relative;
  }
  
  .btn--colorDiv {
    height: 2px;
    width: 60%;
    background-color: #333;
    position: absolute;
    top: 21px;
    left: 7px;
  
  }
.nos{
    width:30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nos >*{
    width:30%;
    height: 70%;
}



.formula-container{
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
   gap:.5rem;
   background-color:rgb(211, 209, 209);
  
    padding-top: 4px ;
    padding-bottom: 4px;
}

.address-input{
    width: 3rem;
    
    height: 90%;
    border:none;
    
}
#formula-sign {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.formula-input{
    width: calc( 100vw - 4rem );
    height: 90%;
   border:none;
}

.grid-container{
height: calc( 100vh - 11rem);

position: relative;
overflow-x: auto;
background-color:rgb(247, 247, 247);


}

.left_box{
    background-color: gray;
    height: 2rem;
    min-width:2rem;
    border: 1px solid #ccc;
    text-align: center;
    padding-top: 5px;
    z-index: 100;
   position: absolute;
}
.box:hover{
    background-color: rgb(177, 238, 177);
    cursor:crosshair
}
.top_row{
    height: 2rem;
    background-color: rgb(233, 233, 233); 
    display: flex;
    position: absolute;
    top: 0;
    padding-top: 0.5rem;
    left: 2rem;
    overflow: auto;
    z-index: 90;
    
}
.left_col{
    width:2rem;
    position: absolute;
    top:2rem;
    z-index:90
}

.box{
    
    width:2rem;
    background-color: rgb(233, 233, 233); 
  
    text-align: center;
    padding-top: 5px;
    height: 2rem;
    border: 1px solid #ccc;
    
 
    
}
.left-col-box{
    border: 1px solid lightgray;
 
  background-color: #f1f3f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555;
}
.cell{
    min-width:5rem;
    border: 1px solid lightgray;
    min-height: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3px; 
    
    
}
.cell:focus{
    outline: none;
}

  
.top_row>:hover{
    background-color: rgb(177, 238, 177);
    
}
.top_row>*{
    border-top:none;
    border-right:darkgray
}
.grid{
    
    background-color: white;
    left: 2rem;
    position: absolute;
    top: 2rem;
    
}
.grid .cell{
    display: block;
  overflow: auto;
  max-width: 5rem;
}
.grid .cell:hover {
    border: 1px solid #49833c;
  }
.row{
   
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.row .col::-webkit-scrollbar {
    display: none;
  }
  .row .cell {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

.sheet-container{
    height: 2rem;
  display: flex;
   align-items: center;
  background-color: #f1f3f4;
  position: fixed;
    top: 95vh
}
.add-button{
    height: 100%;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 1rem;
    border-right: 1px solid gray;
    border-radius: .6rem ;
    box-shadow: 4px 6px 14px 6px rgb(255 255 255 / 25%);
    background-color: #49833c;
   margin-bottom: 0.2rem;
}
.sheet-list{
    width: calc( 100vw - 3rem);
    display: flex;
    height: 100%;;
    align-items: center;
    overflow: auto;
    color: #444;
    padding: 0 20px;
    

}
    

.sheet{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 100px;
  
}
.active{
    background-color: #fff;
    color: #49833c;
     box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.25);
     
}
.active:hover{
    border:3px solid black;
}


.sheet-options-modal {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 lightgray;
  bottom: 4vh;
}

.sheet-modal-parent {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top:0;
  background-color: rgba(68, 68, 68, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sheet-delete-modal {
  height:15rem;
  top:calc( ( 100vh - 10rem ) / 2);
 
  left:25rem;
position: absolute;
  background-color:white;
  box-shadow: 0 8px 16px 0 rgb(88, 88, 88);
  padding: 15px;
  min-width: 400px;
  width: 30vw;
}

.sheet-modal-title {
  text-align: center;
  font-size: 26px;
  color: #217346;
  font-weight: bold;
}

.sheet-modal-input-container, .sheet-modal-detail-container {
  padding: 20px;
}

.sheet-modal-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}
.yes-button{
  background-color: #217346;
  height: 2rem;
  width: 5rem;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
  border-radius: 7%;
}
.no-button{
  background-color: rgb(161, 3, 3);
  height: 2rem;
  width: 5rem;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
  border-radius: 3%;
}
.delete-icon{
  font-size: 1rem;
}
.sheet-modal-input-title, .sheet-modal-detail-title{
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.sheet-modal-input {
  width: 100%;
  height: 2rem;
  font-size: 1.2rem;
  outline-color: #217346;
}

.sheet-modal-confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
}
